<h1>Carrito</h1>

<ul>
  {{#each cart.products}}
    <li>
      <p><strong>{{this.product.title}}</strong> - Cantidad: {{this.quantity}}</p>
      
      <!-- Botón para eliminar producto -->
      <button onclick="deleteProduct('{{../cartId}}', '{{this.product._id}}')">❌ Eliminar</button>
    </li>
  {{/each}}
</ul>

<hr>

{{!-- !Boton Vaciar carrito --}}
<button onclick="emptyCart('{{cartId}}')">🗑️ Vaciar carrito</button>

<br><br>
<a href="/">🔙 Volver a productos</a>

<script>
  async function deleteProduct(cartId, productId) {
    try {
      const res = await fetch(`/api/carts/${cartId}/products/${productId}`, {
        method: "DELETE",
      });
      if (!res.ok) throw new Error("Error al eliminar producto");

      location.reload(); // recarga la página después de eliminar
    } catch (error) {
      alert("Error al eliminar producto del carrito");
    }
  }

  async function emptyCart(cartId) {
    try {
      const res = await fetch(`/api/carts/${cartId}`, {
        method: "DELETE",
      });
      if (!res.ok) throw new Error("Error al vaciar carrito");

      location.reload(); // recarga la página después de vaciar
    } catch (error) {
      alert("Error al vaciar el carrito");
    }
  }
</script>
