<h1>Lista de productos</h1>

<a href="/cart/{{cartId}}">🛒 Ver mi carrito</a>

<ul>
  {{#each products}}
    <li>
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>Precio: ${{this.price}}</p>
      <p>Categoría: {{this.category}}</p>
      <a href="/products/{{this._id}}">Ver detalles</a>

      <form method="POST" action="/api/carts/687c1c973dd0babf99319bc5/products/{{this._id}}">
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Agregar al carrito</button>
      </form>
    </li>
  {{/each}}
</ul>




<div>
  {{#if pagination.hasPrev}}
    <a href="?page={{pagination.prevPage}}">Anterior</a>
  {{/if}}

  Página {{pagination.page}} de {{pagination.totalPages}}

  {{#if pagination.hasNext}}
    <a href="?page={{pagination.nextPage}}">Siguiente</a>
  {{/if}}
</div>
